{% extends "base.html" %}
{% block content %}
<div id="loadableContent">
    <div style="background-color: lightblue; padding: 10px; border-radius: 5px; margin-bottom: 20px;">
        <h1 class="text-center">Data Visualization</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); padding: 20px; margin-bottom: 20px;">
                <h5 class="card-title">Coaches</h5>
                <p class="card-text">Number: {{ coach_count }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); padding: 20px; margin-bottom: 20px;">
                <h5 class="card-title">Supplements</h5>
                <p class="card-text">Number: {{ supplements_count }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); padding: 20px; margin-bottom: 20px;">
                <h5 class="card-title">Equipment</h5>
                <p class="card-text">Number: {{ equipment_count }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); padding: 20px; margin-bottom: 20px;">
                <h5 class="card-title">Customers</h5>
                <p class="card-text">Number: {{ customer_count }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}